<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>casano</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/static/desgin/style.css">
</head>

<body>
    <nav class="entete">
        <header class="header">

            <a href="#" class="logo"> <img src="/static/img/logo.png" alt=""> <span>Cas</span>ano</a>

            <form id="searchbox" method="" action="">
                <div class="search-input">
                    <input name="recherche" type="text" size="12" placeholder="Pain, Lait, Oeuf...">
                    <button id="button-submit" type="submit">Search</button>
                </div>
            </form>

            <div>


                {% if username %}

                <form action="{{ url_for('logout') }}">
                    <button id="logout" type="submit">Déconnexion</button>
                    {{ username }}
                </form>
                <div id="cart" class="cart">
                    <h3>Panier</h3>
                    <ul id="cart-items" class="cart-items">
                   
                    </ul>
                    <div id="cart-total" class="cart-total">
                       
                    </div>
                    <button id="payerBtn" class="payerBtn">Payer</button>
                </div>
                {% else %}
                <button id="login" class="btn">Connexion</button>
                {% endif %}


                <i class="far fa-user"></i>
                </div>



        </header>

        <div class="login-form-container">

            <span class="fas fa-times " id="close-login-form"></span>

            <form action="/login" method="post">
                <h3>Login</h3>
                <input type="username" placeholder="username" name="username" class="box" required>
                <input type="password" placeholder="password" name="password" class="box" required>
                <p>Forgot your password?<a href="/forgetpassword">Click here</a></p>
                <input type="submit" value="connect" class="btn">
                <p>you don't have an account ? <a href="/register">create an account</a></p>
            </form>

        </div>


    </nav>

    <br /><br />
    <section class="zone_produits">
        {% for product in products %}
        <article>
            <img src="{{ product.image }}" alt=" image">
            <p>{{ product.libelle }}</p>
            <p>Prix: {{ product.price }}</p>
            <button class="commander"  data-product-img="{{product.image}}"  data-product-libelle="{{product.libelle}}"  data-product-price="{{product.price}}" data-product-id="{{ product.idProduct }}">commander</button>
        </article>
        {% endfor %}
    </section>



</body>

<footer>
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Country</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> africa </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Australia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
            </div>

            <div class="box">
                <h3>promo and good plan</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> catalog </a>
            </div>

            <div class="box">
                <h3>Networks</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>

            <div class="box">
                <h3>service</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i>drive casano </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> collection point</a>
                <a href="#"> <i class="fas fa-arrow-right"></i> scan'Express </a>
            </div>

        </div>
    </section>
    

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/desgin/style.js"></script>
    <script>

        const panierItems = document.querySelector('#cart-items');
        const commanderBtns = document.querySelectorAll('.commander');
        const payerBtn = document.querySelector('#payerBtn');
        

        commanderBtns.forEach(btn => {
            btn.addEventListener('click', (e) => {
                const productId = e.target.getAttribute('data-product-id');
                const productPrice = e.target.getAttribute('data-product-price');
                const productLibelle = e.target.getAttribute('data-product-libelle');
                const productImg = e.target.getAttribute('data-product-img');
        
                const product = {
                    id: productId,
                    name: productLibelle,
                    image: productImg,
                    price: productPrice,
                    quantity: 1
                };
                addItemToCart(product);
            });
        });
        
        function addItemToCart(product) {
            const item = document.createElement('li');
            item.className = 'cart-item';
            item.setAttribute('data-product-id', product.id);
            item.innerHTML = `
                <img src="${product.image}" alt="${product.name}">
                <div class="cart-item-info">
                    <p>${product.name}</p>
                    <p>Prix: ${product.price}€</p>
                    <p>Quantité: ${product.quantity}</p>
                </div>
            `;
            panierItems.appendChild(item);
        
            item.addEventListener('click', (e) => {
                const productId = e.currentTarget.getAttribute('data-product-id');
                alert(`Nom: ${product.name}, Prix: ${product.price}€`);
            });
        }
        
        payerBtn.addEventListener('click', async () => {
            const cartItems = document.querySelectorAll('.cart-item');
            const cartData = [];
        
            cartItems.forEach(item => {
                const productId = item.getAttribute('data-product-id');
                const name = item.querySelector('.cart-item-info p:nth-child(1)').textContent;
                const price = parseFloat(item.querySelector('.cart-item-info p:nth-child(2)').textContent.replace('Prix: ', '').replace('€', ''));
                const quantity = parseInt(item.querySelector('.cart-item-info p:nth-child(3)').textContent.replace('Quantité: ', ''));
        
                cartData.push({productId, name, price, quantity});
            });
        
            const response = await fetch('/process_cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(cartData)
            });
        
            if (response.ok) {
                const data = await response.json();
                window.location.href = data.url;
            } else {
                // Gérez l'erreur ici
            }
        });
    </script>
</footer>

</html>