<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>casano</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/static/desgin/style.css">

</head>

<body>

    <nav class="entete">
        <header class="header">
            <!--Creation of the header of the web page-->
            <a href="#" class="logo"> <img src="/static/img/logo.png" alt=""> <span>Cas</span>ano</a>

            <!--Search bar-->
            <form id="searchbox" method="get" action="">
                <div class="search-wrapper">
                    <input name="search_query" value="{{ search_query }}" type="text" size="12"
                        placeholder="Pain, Lait, Oeuf...">
                    <button id="button-submit" type="submit">Search</button>
                </div>
            </form>

            <div>

                <!--If the user is connected-->
                {% if username %}

                <form action="{{ url_for('logout') }}">
                    <button id="logout" type="submit">Déconnexion</button>
                </form>
                <p class="user">Profil : {{ username }}</p>


                <div>
                    <h3>commandes déjà passées ({{ number }})</h3>
                    <ul>
                        {% for product in productsOfCustomer %}
                        <li>{{ product.libelle }} - {{ product.price }} € x {{ product.quantity }}
                            <button class="cancelBtn" data-id="{{product.idProduct}}"> Annuler</button>
                        </li>

                        {% endfor %}
                    </ul>
                </div>

                <!--Shopping cart-->
                <div id="cart" class="cart">
                    <h3>Panier</h3>
                    <ul id="cart-items" class="cart-items">

                    </ul>
                    <div id="cart-total" class="cart-total">

                    </div>
                    <button id="payerBtn" class="payerBtn">Payer</button>
                </div>
                {% else %}
                <button id="login" class="btn">Connexion</button>
                {% endif %}

            </div>



        </header>
        <!--User login-->
        <div class="login-form-container">

            <span class="fas fa-times " id="close-login-form"></span>

            <form action="/login" method="post">
                <h3>Login</h3>
                <input type="username" placeholder="username" name="username" class="box" required>
                <input type="password" placeholder="password" name="password" class="box" required>
                <p>Forgot your password?<a href="/forgetpassword">Click here</a></p>
                <input type="submit" value="connect" class="btn">
                <p>you don't have an account ? <a href="/register">create an account</a></p>
            </form>

        </div>


    </nav>

    <br /><br />
    <section class="zone_produits">
        {% for product in products %}
        <article>
            <img src="{{ product.image }}" alt=" image">
            <p>{{ product.libelle }}</p>
            <p>Prix: {{ product.price }}</p>
            <button class="commander" data-product-img="{{product.image}}" data-product-libelle="{{product.libelle}}"
                data-product-price="{{product.price}}" data-product-id="{{ product.idProduct }}">commander</button>
        </article>
        {% endfor %}
    </section>


</body>

<footer>
    <!--Creation of footer page-->
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Country</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> africa </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Australia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
            </div>

            <div class="box">
                <h3>promo and good plan</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> catalog </a>
            </div>

            <div class="box">
                <h3>Networks</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>

            <div class="box">
                <h3>service</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i>drive casano </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> collection point</a>
                <a href="#"> <i class="fas fa-arrow-right"></i> scan'Express </a>
            </div>

        </div>
    </section>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


</footer>
<script src="/static/desgin/style.js"></script>

</html>