<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de commande</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/static/desgin/style.css">
</head>

<body>
    <nav class="entete">
        <header class="header">

            <a href="#" class="logo"> <img src="/templates/logo.png" alt=""> <span>Gestion de </span>Commande</a>

            <form id="searchbox" method="" action="">
                <div class="search-input">
                    <input name="recherche" type="text" size="12" placeholder="Pain, Lait, Oeuf...">
                    <button id="button-submit" type="submit">Search</button>
                </div>
            </form>




            <div id="login-btn">
                <bouton class="btn">connection</bouton>
                <i class="far fa-user"></i>
            </div>


        </header>
        <div class="login-form-container">

            <span class="fas fa-times " id="close-login-form"></span>

            <form action="/login" method="post">
                <h3>Login</h3>
                <input type="username" placeholder="username" name="username" class="box" required>
                <input type="password" placeholder="password" name="password" class="box" required>
                <p>Forgot your password?<a href="#">Click here</a></p>
                <input type="submit" value="connect" class="btn">
                <p>you don't have an account ? <a href="/register">create an account</a></p>
            </form>

        </div>

    </nav>

    <br /><br />
    <section class="zone_produits">
        {% for product in products %}
        <article>
            <img src="{{ product.image }}" alt=" image">
            <p>{{ product.libelle }}</p>
            <p>Prix: {{ product.prixUnitaire }}</p>
        </article>
        {% endfor %}
    </section>


</body>

<footer>
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Pays</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> inde </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> afrique </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> australie </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russie </a>
            </div>

            <div class="box">
                <h3>promo et bon plan</h3>
                <a href="#catalogue"> <i class="fas fa-arrow-right"></i> catalogue </a>
            </div>

            <div class="box">
                <h3>Reseaux</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>

            <div class="box">
                <h3>service</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> casono drive </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> point retrait casono </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> traiteur casono </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> scan'Express </a>
            </div>


        </div>

    </section>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/desgin/style.js"></script>
</footer>

</html>