<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Now</title>

    <link rel="stylesheet" href="/static/desgin/style.css">
    <link rel="stylesheet" href="/static/desgin/compte.css">
</head>

<body id="compte_body">

    <body id="compte_body">
        <div id="compte_conteneur">
            <form name="inscription" action="/register" method="post">
                <fieldset class="compte_fieldset">
                    <legend class="compte_legend">Register Now</legend>
                    <div class="compte_label">
                        Name
                    </div>
                    <div class="compte_input">
                        <input type="text" name="name" class="compte_champ" placeholder="nom" required />
                    </div><br />
                    <div class="compte_label">
                        firstname
                    </div>
                    <div class="compte_input">
                        <input type="text" name="firstname" class="compte_champ" placeholder="prenom" required />
                    </div><br />
                    <div class="compte_label">
                        Adress
                    </div>
                    <div class="compte_input">
                        <input type="text" name="adress" class="compte_champ" placeholder="Adresse" required />
                    </div><br />
                    <div class="compte_label">
                        phone
                    </div>
                    <div class="compte_input">
                        <input type="text" name="phone" class="compte_champ" placeholder="Téléphone" required />
                    </div><br />
                    <div class="compte_label">
                        Username
                    </div>
                    <div class="compte_input">
                        <input type="text" name="username" class="compte_champ" placeholder="Username" required />
                    </div><br />
                    <div class="compte_label">
                        Password
                    </div>
                    <div class="compte_input">
                        <input type="password" name="password" class="compte_champ" placeholder="password" required />
                    </div><br />

                    <div class="compte_input">
                        <input type="submit" name="sinscrire" value="S'inscrire" class="compte_champ" />
                    </div><br />
                </fieldset>
            </form>
        </div>
    </body>

</html>