<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Now</title>

    <link rel="stylesheet" href="/static/desgin/style.css">
    <link rel="stylesheet" href="/static/desgin/compte.css">
</head>

<body id="compte_body">

    <body id="compte_body">
        <div id="compte_conteneur">
            <form name="inscription" action="/register" method="post">
                <fieldset class="compte_fieldset">
                    <legend class="compte_legend">Register Now</legend>
                    <div class="compte_label">
                        Nom
                    </div>
                    <div class="compte_input">
                        <input type="text" name="nom" class="compte_champ" placeholder="nom" required />
                    </div><br />
                    <div class="compte_label">
                        Prénom
                    </div>
                    <div class="compte_input">
                        <input type="text" name="prenom" class="compte_champ" placeholder="prenom" required />
                    </div><br />
                    <div class="compte_label">
                        Adresse
                    </div>
                    <div class="compte_input">
                        <input type="text" name="adresse" class="compte_champ" placeholder="Adresse" required />
                    </div><br />
                    <div class="compte_label">
                        Téléphone
                    </div>
                    <div class="compte_input">
                        <input type="text" name="tel" class="compte_champ" placeholder="Téléphone" required />
                    </div><br />
                    <div class="compte_label">
                        Username
                    </div>
                    <div class="compte_input">
                        <input type="text" name="username" class="compte_champ" placeholder="Username" required />
                    </div><br />
                    <div class="compte_label">
                        Mot de passe
                    </div>
                    <div class="compte_input">
                        <input type="password" name="password" class="compte_champ" placeholder="Mot de passe"
                            required />
                    </div><br />
                    <div class="compte_label">
                        Confirmer
                    </div>
                    <div class="compte_input">
                        <input type="password" name="remdp" class="compte_champ" placeholder="Mot de passe" required />
                    </div><br />

                    <div class="compte_input">
                        <input type="submit" name="sinscrire" value="S'inscrire" class="compte_champ" />
                    </div><br />
                </fieldset>
            </form>
        </div>
    </body>

</html>